html {
  font-family: Noto, "Hiragino Sans", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #F6F6F4;
  line-height: 2;
}

body {
  margin: 0
}

.toc * {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F0DA50;
}

.header {
  height: 56px;
  width: 100%;
  padding-top: 8px;
  background-color: #F0DA50;
}

.header-content {
  width: 56%;
  margin: 0 auto;
}

.title {
  color: #fafafa;
  font-size: 32px;
  font-weight: 600;
}

.content {
  width: 868px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 32px;
  background-color: #ffffff;
}

.information {
  display: flex;
}

.icon {
  margin-right: 8px;
  border-radius: 4px;
}

.author {
  margin-right: 8px;
}

.date {
  color: #999999;
}